<div class="about text-light">
    <div class="container">
        <div class="text-center">
            <h2>ABOUT COMPONENT</h2>
            <span><i class="fa-solid fa-star p-3"></i></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="col-md-6">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</div>