<div class="contact text-center p-5">
    <div class="container">
        <h2>CONTACT SECTION</h2>
        <span> <i class="fa-solid fa-star p-3"></i></span>
        <input type="text" placeholder="userName" class="form-control w-50 m-auto my-5">
        <input type="number" placeholder="userAge" class="form-control w-50 m-auto my-5">
        <input type="email" placeholder="userEmail" class="form-control w-50 m-auto my-5">
        <input type="password" placeholder="userPassword" class="form-control w-50 m-auto my-5">
        <button class="btn btn-success">Send Message</button>
    </div>
</div>