<div class="portfolio text-center p-5">
    <div class="container">
        <h2>ABOUT COMPONENT</h2>
        <span><i class="fa-solid fa-star p-3"></i></span>
        <div class="row g-5 ">
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/poert1.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/port2.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/port3.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/poert1.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/port2.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="../../assets/images/port3.png" class="w-100 rounded" alt="">
                    <div class="layer">
                        <i class="text-white fa-solid fa-plus fa-6x"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>